* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0; /* Tüm öğelerin varsayılan margin'lerini kaldırın */
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.container {
    padding: 20px;
    
}

.col-md-6 {
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    /* 768px ve daha küçük ekranlar için stil */
    
    
    .col-md-6{
        width: 75px;
        height: auto;
        
    }
    *{
        margin: 5px;
        padding: 5px;
    }
}
