.btn{
    border: 1px solid red;
    padding: 10px 20px;
    margin-top: 50px;
    display: block;
    background-color: aqua;
    width: 50px;
    transition: all 1s linear ;
    transform: rotate(50deg);
    
}

.btn:hover{
    background-color: beige;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transform: scale(1.50);
}