.container{
    margin-top: 150px;
    background-color: antiquewhite;
}
body{
    background-color: bisque;
}
.col-sm-5{
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 100px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);

}
img{
    width:550px;
    margin-left:-12px;
    border-radius: 10px;
}

#title1{
    text-align:center;
}
