body{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    background-color: whitesmoke;
    width: 100vw;
}

.navbar{
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    
    


}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title1{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#ul{
    
    text-decoration: none;
    list-style-type: none;
    
}
#ul li{
    display: inline-block;
    margin:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.row{
    margin:50px;
    
}
.col-md-6{
    display: inline-block;
    text-align: center;
    width: 500px;
    
}
.foto{
    display:flex;
    width: 90%;
    align-items: center;
    object-fit: cover;

}

.container2{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    width: 300px;
    margin: auto;

}

.container2 h1{
    width: 500px;
    text-align: center;
}
#divs{
    width: 600px;
    padding: 24px 32px;
    text-align: center;
}

.footer{
    margin-bottom: 0;
    background-color: aqua;
    padding: 20px;
    text-align: center;
    width: 100vw;
}
@media screen and (max-width: 768px) {

    .container {
      margin-left: 0;
    }
    .row {
      margin: 0px;
    }
    .foto {
      width: 200px;
      margin-left: 100px;
    }
    #ul{
        
        margin-left: 50px;
    }
    #ul li{
        display: inline-block;
        margin:30px;
        
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }
    .container2{
        margin-left: 0px;
        width: 310px;
        text-align: center;
        margin-top:25px;
        margin: auto;
    }
    .footer{
        width: 100vw;
    }
  }
  



@media screen and (max-width: 1024px) {

    #title1{
        font-size: 18px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #ul{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        
    }
    li{
        cursor: grab;
    }
    .container{
        margin: 20px;
    }
}
@media screen and (max-width: 768px) {
    #title1{
        font-size: 16px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #ul{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        
    }
    li{
        cursor: grab;
    }
  
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 150px;
    }
    
}
@media screen and (max-width: 480px) {
    
}
