#title1 {
   
    font-size: 80px;
}
#title2{

    text-shadow: 0 -4px green, 0 -2px red, 0 2px blue, 0 4px yellow;

   
}
body{
    font-family: 'Roboto, sans-serif';

}
.container{
    width: 50%;
}
p{
    font-size: 24px;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-break: normal;
    text-align: left;
}